p
{
background-color:red;
width:1020px;
height:80px;
font-weight:bold;
}
p1
{
background-color:green;
width:200px;
height:400px;
margin-top:-16;
float:left;
font-weight:bold;
}
p2
{
background-color:black;
width:10px;
height:400px;
margin-top:-16;
float:left;
}
p3
{
background-color:blue;
width:810px;
height:400px;
margin-top:-16;
float:left;
font-weight:bold;
}
p4
{
background-color:orange;
width:1020px;
height:80px;
float:left;
font-weight:bold;
}
