p
{
border-color:orange;
border-style:solid;
background-color:lightgrey;
width:250px;
height:100px;
float:left;
}
p1
{
border-color:red;
border-style:solid;
background-color:lightgrey;
width:300px;
height:100px;
margin:16px;
margin-left:-0.5px;
float:left;
}
p2
{
border-color:black;
border-style:solid;
background-color:lightgreen;
width:300px;
height:100px;
margin:16px;
margin-left:-16px;
float:left;
}