p
{
border-color:blue;
background-color:grey;
border-style:dotted;
width:250px;
height:250px;
float:left;
}
p1
{
border-color:green;
border-style:dotted;
background-color:lightgreen;
width:250px;
margin:15px;
height:250px;
float:left;
}